{% extends 'base.html' %}

{% block content %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h1>Password change</h1>
                <p>Please enter your old password, for security's sake, and then enter your
                      new password twice so we can verify you typed it in correctly.
                </p>
  
              <div class="form-outline mb-4">
                <form method="post">
                  {% csrf_token %}
                  <p>
                    <label for="id_old_password">Old password:</label>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                    {{ form.id_old_password }}
                    
                  </p>
                
                  
                  <p>
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                    {{ form.id_new_password1 }}
                      <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
                    
                    
                  </p>
                
                  
                  <p>
                    <label for="id_new_password2">New password confirmation:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                    {{ form.id_new_password2 }}
                      
                    
                  </p>
                  <input class="btn btn-success" type="submit" value="Change my password">
                </form>
              </div>
               </form>
            </div>
    </div>
  </section>
{% endblock content %}


