{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OnePage Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.8.1
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="home.html">LFC UMOJI</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="home.html" class="logo">
      <img src="{% static 'assets/img/lfc-logo.png' %}" alt="" class="img-fluid">
        
      <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
              <li><a class="nav-link scrollto" href="{% url 'about_us' %}">About Us</a></li>
              <li><a class="nav-link scrollto" href="{% url 'wsf_operations' %}">WSF Operations</a></li>
              <li><a class="nav-link scrollto" href="{% url 'announcements' %}">Announcement</a></li>
              <li><a class="nav-link scrollto" href="{% url 'testimonies' %}">Testimonies</a></li>
              <li><a class="nav-link scrollto" href="{% url 'kingdom_advancement_prayers' %}">Kingdom Advancement Prayers</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
              <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </div>
  </header><!-- End Header -->
</html>
{% block content %}
{% endblock content %}
