<!-- templates/home.html -->
{% extends 'base.html' %}


{% block content %}
        

    

  
  <!-- ======= HomePage Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Welcome to <br>Living Faith Church Umoji</h1>
          <h2>The Home of Signs and Wonders</h2>
        </div>
      </div>
{% endblock content %}