li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'updates' %}">Updatesr</a></li>
                <li><a class="nav-link scrollto" href="{% url 'wsf_updates' %}">Waf_Updates</a></li>
                <li><a class="nav-link scrollto o" href="{% url 'kap_updates' %}">Kap_Updates</a></li>
                <li><a class="nav-link scrollto" href="{% url 'reports' %}">Reports</a></li>
                <li><a class="nav-link scrollto" href="{% url 'general_reports' %}">General_Reports</a></li>
                <li><a class="getstarted scrollto" href="{% url 'signout' %}">signout</a></li>