{% extends 'base.html' %}
{% block title %}WsfOperations{% endblock title %}
{% block content %}
    {% for umoji in object_list %}
    <section>
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ umoji.title }}</span> &middot;
                <span class="text-muted">by {{ umoji.author }}|{{ umoji.date }}</span>
            </div>
            <div class="card-body">
            {{ umoji.body|truncatewords:20 }}
                <a href="{% url 'wsf_update_edit' umoji.pk %}">Edit</a> | <a href="{% url 'wsf_update_delete' umoji.pk %}">Delete</a>| <a href="{% url 'wsf_update_detail' umoji.pk %}">click for complete post</a>
            </div>
        </div>
        <br />
    </section>

{% endfor %}
{% endblock content %}
